*{
    padding: 0;
    margin: 0;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/** Flex boxes and layout */
.container{
    display: flex;
    flex-flow: wrap;
    text-align: center;
}
.row{
    flex-direction: row;
    width: 100%;
}
.col{
    flex-direction: column;
    display: inline-flex;
    width: 100%;
}
.col-1{
    flex-direction: column;
    display: inline-flex;
    flex-grow: 1;
}
.col-2{
    flex-direction: column;
    display: inline-flex;
    flex-grow: 2;
}
.col-3{
    flex-direction: column;
    display: inline-flex;
    flex-grow: 3;
}

.col-20p{
    flex-direction: column;
    display: inline-flex;
    width: 20%;
}
.col-70p{
    flex-direction: column;
    display: inline-flex;
    width: 70%;
}

/** Margins and paddings standars */
.p-1{
    padding: 1rem;
}
.p-2{
    padding: 2rem;
}
.p-3{
    padding: 3rem;
}
.p-4{
    padding: 4rem;
}
.px-1{
    padding-left: 1rem;
    padding-right: 1rem;
}
.px-2{
    padding-left: 2rem;
    padding-right: 2rem;
}
.px-3{
    padding-left: 3rem;
    padding-right: 3rem;
}
.px-4{
    padding-left: 4rem;
    padding-right: 4rem;
}
.py-1{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.py-2{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.py-3{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.pt-2{
    padding-top: 2rem;
}
.pb-1{
    padding-bottom: 2rem;
}

.m-1{
    margin: 1rem;
}
.m-2{
    margin: 2rem;
}
.m-3{
    margin: 3rem;
}
.m-4{
    margin: 4rem;
}
.my-1{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.my-2{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.my-3{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.my-4{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.mx-2{
    margin-left: 2rem;
    margin-right: 2rem;
}


/** Text standars */
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-justify{
    text-align: justify;
}
.text-white{
    color: #FFF8E5;
}

/** Default tag visualizing */
header{
    text-align: center;
    height: 15%;
}
section, article, aside{
    padding: 2%;
}
footer{
    text-align: center;
    background: rgba(255,179,68,1);
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
    padding: 1rem;
}
p{
    text-align: justify;
}
section div{
    padding-bottom: 3%;
}

.gradient{
    background: rgb(0,161,157);
    background: linear-gradient(0deg, rgba(0,161,157,1) 0%, rgba(255,179,68,1) 100%);
}
.content{
    background: #FFF8E5;
    border-radius: 1rem;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}

.button{
    background-color: #00A19D;
    padding: 1rem;
    text-decoration: none;
    border: 1px solid;
    border-radius: 1rem;
    color: black;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}

.lateral{
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,70,70,1) 0%, rgba(223,100,100,1) 25%, rgba(223,100,100,1) 75%, rgba(255,70,70,1) 100%);
    border-radius: 1rem;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}
.title{
    font-size: 5rem;
}

.align-center{
    align-items: center;
}